<template>
	<div class="task">
		<div class="min-form">
			<label for="">Demandeur : </label>
			<div
				style="display: flex"
				v-if="this.issue.tw_author !== null || undefined"
			>
				<n-select
					v-model:value="this.issue.tw_author"
					:options="this.get_auth()"
				>
				</n-select>
			</div>
		</div>
		<div class="min-form">
			<label for="">Assignement : </label>
			<n-select
				v-model:value="this.issue.assigned_to.tw_id"
				:options="this.get_users()"
			>
			</n-select>
		</div>
		<div class="min-form">
			<label for="">Nom de votre tâche :</label>
			<n-input
				size="medium"
				id="search-text"
				v-model:value="this.issue.subject"
				type="text"
			/>
			<div class="min-form">
				<label for="">Priorité :</label>
				<n-select v-model:value="priority_val" :options="priorities" />
			</div>
		</div>
		<div class="min-form">
			<label for="">Votre description : </label>
			<n-input
				v-model:value="this.issue.description"
				type="textarea"
				id="desc"
			/>
		</div>
		<div class="min-form">
			<label for="">Temps estimé (en heure): </label>
			<n-input-number
				placeholder="Nombre d'heures"
				v-model:value="this.issue.total_estimated_hours"
			/>
		</div>
		<div class="min-form">
			<n-button size="large" @click="this.send()"> Ajouter la tâche </n-button>
		</div>
	</div>
</template>
<script>
import Configuration from "../config";
import axios from "axios";
import { NInput, NButton, NSelect, NInputNumber } from "naive-ui";
import * as utils from "../utils.js";

export default {
	data() {
		return {
			showEdit: false,
			priorities: utils.redmine_priorities,
		};
	},
	props: {
		issue: Object,
		projectUsers: Object,
		tokenTw: String,
		tokenRd: String,
		tasklst: Object,
	},
	computed: {
		priority_val: function () {
			return this.issue.priority.name.slice(-3);
		},
	},
	methods: {
		get_users: function () {
			let res = utils.toOptions(this.projectUsers, "full-name", "id");
			res.push({
				label: "Aucun assignement",
				value: "0",
				disabled: true,
			});
			res.push({
				label: "Assignement non-trouvé",
				value: "-1",
				disabled: true,
			});
			return res;
		},
		get_auth: function () {
			let res = utils.toOptions(this.projectUsers, "full-name", "id");
			return res;
		},
		send: async function () {
			try {
				let map = new utils.Mapping(this.issue);
				let ret = await map.format("toTeamwork");

				let res = await axios({
					method: "POST",
					url: `${Configuration.teamwork_api_url}/tasklists/${this.tasklst.id}/tasks.json`,
					headers: {
						Authorization: `Basic ${btoa(this.tokenTw + ":fake")}`,
					},
					data: ret,
				});
				if (res.status == 200 || 201) {
					try {
						let req = await axios({
							method: "GET",
							url: `${Configuration.teamwork_api_url}/tasks/${res.data.id}.json`,
							headers: {
								Authorization: `Basic ${btoa(this.tokenTw + ":fake")}`,
							},
						});

						let tskmapping = new utils.Mapping(req.data["todo-item"]);
						let formatted = await tskmapping.format("toRedmine");
						formatted.issue.priority_id = this.issue.priority.id;

						let result = await axios({
							method: "PUT",
							url: `${Configuration.redmine_api_url}/issues/${this.issue.id}.json?key=${this.tokenRd}`,
							headers: {
								"Content-Type": "application/json",
							},
							data: formatted,
						});
						this.$emit("task-add");
					} catch (error) {
						console.warn(error);
					}
				}
			} catch (err) {
				console.warn(err);
			}
		},
	},
	components: {
		NSelect,
		NInput,
		NInputNumber,
		NButton,
	},
};
</script>
<style>
.task {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}
.min-form {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-bottom: 16px;
}
.min-form textarea {
	height: 150px;
	font-family: "Roboto", Courier, monospace;
	font-size: 1em;
	padding: 1em;
}
.error-p {
	color: red;
}
#desc {
	height: 250px;
}
</style>
