<template>
	<n-modal
		v-model:show="this.showModal"
		preset="dialog"
		:on-after-leave="() => this.$emit('close-error')"
		title="Erreur"
	>
		<template #header>
			<div>{{ this.error.title }}</div>
		</template>
		<div>
			<p v-html="this.error.content"></p>
			<Res1
				v-if="this.error.code == 1"
				:error="this.error"
				:tokenRd="this.tokenRd"
				:projects="this.error.projects"
				@updated="$emit('close-error')"
			></Res1>
			<Res2
				v-else-if="this.error.code == 2"
				:error="this.error"
				:tokenRd="this.tokenRd"
				:projects="this.error.projects"
				@updated="$emit('close-error')"
			></Res2>
			<Res3
				v-else-if="this.error.code == 3"
				:error="this.error"
				:tokenRd="this.tokenRd"
				@updated="$emit('close-error')"
			></Res3>
		</div>
	</n-modal>
</template>
<script>
import Res1 from "./resolution/Res1.vue";
import Res2 from "./resolution/Res2.vue";
import Res3 from "./resolution/Res3.vue";
import { defineComponent } from "vue";
import { NModal, NButton } from "naive-ui";

export default defineComponent({
	data() {
		return {
			success: undefined,
			showModal: true,
		};
	},
	components: {
		Res1,
		Res2,
		Res3,
		NModal,
		NButton,
	},
	props: {
		error: Object,
		tokenRd: String,
	},
});
</script>
<style></style>
