<template>
	<n-modal
		v-model:show="showModal"
		:mask-closable="false"
		preset="dialog"
		:title="this.success.title"
		positive-text="continuer"
		@positive-click="this.$emit('close-success')"
	>
		<p>{{ this.success.content }}</p>
	</n-modal>
</template>
<script>
import { NModal } from "naive-ui";

export default {
	data() {
		return {
			showModal: true,
		};
	},
	props: {
		success: Object,
	},
	components: {
		NModal,
	},
};
</script>
