<template>
	<div class="update">
		<div class="total-bills">
			<div class="infos-bills">
				<h4>Temps estimé</h4>
				<n-button strong secondary type="info">
					{{
						`${Math.trunc(this.estimatedTime)}h ${Math.ceil(
							(this.estimatedTime * 60) % 60
						)}m`
					}}
				</n-button>
			</div>
			<div class="infos-bills">
				<h4>Temps imputé</h4>
				<n-button
					strong
					secondary
					:type="this.deltaType_warnmax(this.estimatedTime - this.chargedTime)"
				>
					{{
						`${Math.trunc(this.chargedTime)}h ${Math.ceil(
							(this.chargedTime * 60) % 60
						)}m`
					}}
				</n-button>
			</div>
			<div v-if="this.estimatedTime > 0" class="infos-bills">
				<h4>Delta</h4>
				<n-button strong secondary :type="this.deltaType(this.getDelta)">
					{{
						`${
							this.getDelta > 0
								? "+" + Math.trunc(this.getDelta)
								: Math.trunc(this.getDelta)
						}h ${Math.ceil((Math.abs(this.getDelta) * 60) % 60)}m`
					}}
				</n-button>
			</div>
			<n-button
				style="margin-left: 1em"
				@click="this.openTask()"
				strong
				secondary
				size="medium"
				type="info"
			>
				tâche teamwork
			</n-button>
		</div>
		<div class="update-form">
			<div class="update-form-time">
				<n-grid style="align-items: center" x-gap="12" :cols="4">
					<n-gi>
						<n-date-picker
							id="date"
							v-model:value="this.date_model"
							:default-value="Date.now()"
							format="yyyy-MM-dd"
							type="date"
							size="large"
						></n-date-picker>
					</n-gi>
					<n-gi>
						<n-time-picker
							v-model:value="this.time_entry.time"
							size="large"
							format="H:mm"
							placeholder="Début"
						>
						</n-time-picker>
					</n-gi>
					<n-gi>
						<n-time-picker
							v-model:value="this.end_time"
							size="large"
							:is-hour-disabled="isHourDisabled"
							:is-minute-disabled="isMinutesDisabled"
							format="H:mm"
							placeholder="Fin"
						></n-time-picker>
					</n-gi>
					<n-gi>
						<n-switch v-model:value="this.time_entry.isBillable">
							<template #checked>facturable</template>
							<template #unchecked>non-facturable</template>
						</n-switch>
					</n-gi>
				</n-grid>
				<n-grid style="margin-top: 1em; justify-items: center" :cols="1">
					<n-gi v-if="this.isInInfraMode">
						<n-switch @update:value="handleTag" :default-value="false">
							<template #checked>intervention sur site</template>
							<template #unchecked>intervention à distance</template>
						</n-switch>
					</n-gi>
				</n-grid>
				<div class="update-form-billable">
					<div class="historic" v-if="this.isTimeEntriesDefined">
						<label for="update-desc">Historique des descriptions</label>
						<n-select
							v-model:value="this.select_time_entry"
							placeholder="Selectionner un historique"
							:options="this.get_historic()"
							autosize
						/>
					</div>
					<n-input
						v-model:value="this.time_entry.description"
						type="textarea"
						placeholder="Entrer une description"
						id="update-desc"
					/>
				</div>
				<n-button
					id="add_time"
					@click="this.send()"
					:disabled="
						this.end_time == undefined || this.time_entry.time == undefined
							? true
							: false
					"
					>valider</n-button
				>
			</div>
		</div>
	</div>
</template>
<script>
import Configuration from "../config";
import axios from "axios";
import * as utils from "../utils.js";
import { defineComponent } from "vue";
import { Edit16Regular } from "@vicons/fluent";
import {
	NSelect,
	NInput,
	NButton,
	NDatePicker,
	NTimePicker,
	NGrid,
	NGi,
	NSwitch,
	NIcon,
	NPopover,
} from "naive-ui";
import { AccessTimeFilledOutlined } from "@vicons/material";

export default defineComponent({
	async created() {
		this.time_entries = await this.getTimeEntries(this.task.id);

		this.time_entries.sort((a, b) => {
			if (Date.parse(a.createdAt) > Date.parse(b.createdAt)) {
				return -1;
			}
			if (Date.parse(a.createdAt) < Date.parse(b.createdAt)) {
				return 1;
			}
			return 0;
		});
		this.time_entry.date = utils.formatDate(new Date());
		if (this.isInInfraMode) {
			this.time_entry.tags = "Intervention à distance [IN]";
		}
	},

	data() {
		return {
			token: this.tw_token,
			desc_id: undefined,
			select_time_entry: undefined,
			date_model: undefined,
			time_entries: undefined,
			end_time: undefined,
			time_entry: {
				description: undefined,
				date: undefined,
				time: undefined,
				hours: 0,
				minutes: 0,
				isBillable: false,
			},
		};
	},
	props: {
		task: Object,
		task_time: Object,
		tw_token: String,
	},
	watch: {
		select_time_entry: function (newEntry) {
			this.time_entries.forEach((element) => {
				if (element.id == newEntry) {
					this.time_entry.description = element.description;
				}
			});
		},
		date_model: function (newEntry) {
			this.time_entry.date = utils.formatDate(new Date(newEntry));
		},
	},
	computed: {
		estimatedTime: function () {
			return this.task_time["time-estimates"]["active-hours-estimated"];
		},
		chargedTime: function () {
			return this.task_time["time-totals"]["total-hours-sum"];
		},
		isInInfraMode: function () {
			return this.task["todo-list-name"].includes("[IN]");
		},
		isTimeEntriesDefined: function () {
			return this.time_entries !== undefined && this.time_entries.length > 0;
		},
		isBillable: function () {
			return this.time_entry.isBillable;
		},
		getDelta: function () {
			let estimated = parseFloat(this.estimatedTime);
			let charged = parseFloat(this.chargedTime);
			let diff = estimated - charged;
			if (diff > 0) return "+" + diff;
			else if (diff < 0) return diff;
			else if (diff == 0) return diff;
		},
	},
	methods: {
		handleTag: function (value) {
			this.time_entry.tags =
				value == false
					? "Intervention à distance [IN]"
					: "Intervention sur site [IN]";
		},
		deltaType: function (number) {
			if (number == 0) return "default";
			else if (number > 0) return "primary";
			else if (number < 0) return "error";
		},
		deltaType_warnmax: function (number) {
			if (number == 0) return "default";
			else if (number > 0) return "primary";
			else if (number < 0) return "warning";
		},
		format: function (data) {
			let final = data;
			let start_time = new Date(this.time_entry.time);
			let end_time = new Date(this.end_time);

			final.date = final.date.replaceAll("-", "");
			final.hours = end_time.getHours() - start_time.getHours();
			final.minutes = end_time.getMinutes() - start_time.getMinutes();
			final.time = utils.formatDateTime(start_time);

			return final;
		},
		get_historic: function () {
			return utils.toOptions(this.time_entries, "description", "id");
		},
		send: function () {
			this.postTimeEntryToTask(this.task.id, this.format(this.time_entry));
			this.$emit("task-update");
		},
		postTimeEntryToTask: async function (id, data) {
			try {
				let res = await axios.post(
					`${Configuration.teamwork_api_url}/tasks/${id}/time_entries.json`,
					{ "time-entry": data },
					{
						headers: {
							Authorization: `Basic ${btoa(this.token + ":fake")}`,
						},
					}
				);
				return res.data;
			} catch (error) {
				console.warn(error);
			}
		},
		getTimeEntries: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/tasks/${id}/time_entries.json`,
					{
						headers: {
							Authorization: `Basic ${btoa(this.token + ":fake")}`,
						},
					}
				);
				return res.data["time-entries"];
			} catch (error) {
				console.warn(error);
			}
		},
		isHourDisabled: function (hour) {
			let date = new Date(this.time_entry.time);
			return date.getHours() > hour ? true : false;
		},
		isMinutesDisabled: function (minute, hour) {
			let date = new Date(this.time_entry.time);
			if (date.getHours() < hour) {
				return false;
			} else {
				return date.getMinutes() >= minute ? true : false;
			}
		},
		openTask: function () {
			window.open(
				`https://id3i.teamwork.com/#/tasks/${this.task.id}`,
				"_blank"
			);
		},
	},
	components: {
		Edit16Regular,
		NSelect,
		NInput,
		NIcon,
		NButton,
		NDatePicker,
		NTimePicker,
		NGrid,
		NGi,
		NSwitch,
		AccessTimeFilledOutlined,
		NPopover,
	},
});
</script>
<style>
.editButton {
	margin-top: 1em;
	align-self: center;
}

.update {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}

.update-form-time {
	display: flex;
	flex-direction: column;
}

.update-form-time input {
	color: #555;
	padding: 10px;
}

.update-form-time-input {
	display: flex;
	justify-content: space-between;
}

.update-form-time-input label {
	font-weight: normal;
	align-self: center;
}

.update-form-billable {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}

.update-form-billable button {
	cursor: pointer;
	padding: 1em;
	border: 1px solid #ea661c;
	border-radius: 2px;
	text-transform: uppercase;
	font-weight: 700;
	background-color: #fff;
	color: #ea661c;
	margin-top: 15px;
}

.active {
	transition: 0.5s all ease;
	background-color: #ea661c !important;
	color: white !important;
}

#add_time {
	margin-top: 16px;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	padding: 2em;
}
.infos-bills {
	display: flex;
	align-items: center;
	margin-right: 1em;
}
.infos-bills h4 {
	margin-right: 1em;
	color: #4e4e4e;
}
.total-bills {
	display: flex;
	justify-items: center;
	flex-direction: row;
	margin-bottom: 1em;
}

.historic {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

#update-desc {
	margin-top: 20px;
	height: 150px;
}

#fact {
	margin-right: 1em;
}
</style>
