<template>
	<div class="resolution">
		<h1>Résolution</h1>
		<p>
			Veuillez renseigner l'id du projet teamwork associé au projet
			<b>{{ this.error.project.name }}</b>
		</p>
		<input
			type="number"
			v-model="this.error.project.custom_fields[0].value"
			id="res-number"
		/>
		<p>Liste des projets teamwork autorisés :</p>
		<n-select
			v-model:value="this.error.project.custom_fields[0].value"
			filterable
			placeholder="Choisir un projet"
			:options="this.get_projects()"
		/>
		<n-button
			@click="this.updateProject()"
			style="margin-top: 1em"
			strong
			secondary
			type="primary"
		>
			sauvegarder
		</n-button>
	</div>
</template>
<script>
import Configuration from "../../config";
import axios from "axios";
import Success from "../Success.vue";
import { defineComponent } from "vue";
import { NSelect, NButton } from "naive-ui";
import { toOptions } from "../../utils";

export default defineComponent({
	data() {
		return {
			success: undefined,
			token: this.tw_token,
		};
	},
	props: {
		error: Object,
		tokenRd: String,
		projects: Array,
	},
	methods: {
		updateProject: async function () {
			try {
				await axios({
					url: `${Configuration.redmine_api_url}/projects/${this.error.project.id}.json?key=058cccefacb6dbfa9fd851b8ee25fd3f0143dacd`,
					method: "put",
					headers: {
						"Content-Type": "application/json",
					},
					data: { project: this.error.project },
				});
				this.$emit("updated");
			} catch (err) {
				console.log(err);
				return;
			}
		},
		get_projects: function () {
			return toOptions(this.projects, "name", "id");
		},
	},
	components: {
		Success,
		NSelect,
		NButton,
	},
});
</script>
<style>
.top-enter-active,
.top-leave-active {
	transition: transform 0.4s ease;
}
.top-enter-to,
.top-leave-from {
	transform: translateY();
}
.top-enter-from,
.top-leave-to {
	transform: translateY(-100vh);
}
.resolution {
	margin-top: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}
.resolution p {
	margin-top: 15px;
}
#res-number {
	text-align: center;
	outline: none;
	border-radius: 10px;
	border: none;
}
</style>
