<template>
	<div class="container">
		<n-config-provider :locale="frFR" :date-locale="dateFrFR">
			<Main />
		</n-config-provider>
	</div>
</template>

<script>
import { defineComponent } from "vue";
import { NConfigProvider } from "naive-ui";
import { frFR, dateFrFR } from "naive-ui";
import Main from "./components/Main.vue";

export default defineComponent({
	data() {
		return {
			frFR,
			dateFrFR,
		};
	},
	components: {
		NConfigProvider,
		Main,
	},
});
</script>

<style>
@import url("assets/base.css");
.container,
.n-config-provider {
	display: grid;
	height: 100%;
	grid-template-rows: 1fr;
}
</style>
